<link rel="stylesheet" href="assets/css/cadastrar.css">
<div class="container">
    <br>
    <h1>Consultar</h1>
    <hr>
    <div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Cód.</th>
                <th>Título</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td>{{registro.id}}</td>
                        <td>{{registro.titulo}}</td>
                        <td>{{registro.categoria}}</td>
                        <td>{{registro.tipo}}</td>
                        <td>{{registro.data}}</td>
                        <td>
                            <a href="?router=cadastro/editar/&id={{registro.id}}">Alterar</a>|
                            <a href="?router=cadastro/deletar/&id={{registro.id}}">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>