*{
    padding: 0;
    margin: 0;
    font-family: 'Arial';
    box-sizing: border-box;
}

.top-header{
    background-color: #2F4F4F;
    padding: 20px;
    text-align: center;
}

.top-nav{
    overflow: hidden;
    background-color: #008080;
    position: relative
}

.top-nav p{
    margin-left: 0px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #FFF;
    font-size: 18px;
}

.ul-menu{
    margin: 0;
    display: flex;
    justify-content: right;
    text-align: right;
}

.top-nav a{
    float: right;
    display: grid;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav a:hover{
    background-color: #050000;
    color: beige;
}

.dash{
    color: #CCC;
    font-size: 60px;
    margin: 200px auto;
    text-align: center;
}


.ident{
    color: #800000;
}




